[Desktop Entry]
Icon=video-mp4
Name=AdelMorel_AliceShea_EvaElfie_NancyA_LustfulIntimacy_1920x1080_60fps.mp4
Type=Link
URL[$e]=file:///media/ADULT/60FPS/AdelMorel_AliceShea_EvaElfie_NancyA_LustfulIntimacy_1920x1080_60fps.mp4
X-KDE-LastOpenedWith=org.kde.kdenlive
